@model IEnumerable<PersonModel>

<div class="container">
    <a href="@Url.Action("CreatePerson", "Person")" class="btn btn-primary mb-3">Add Person</a>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CPF</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var person in Model)
                    {
                        <tr>
                            <td>@person.Name</td>
                            <td>@person.Cpf</td>
                            <td>@person.PhoneNumber</td>
                            <td>
                                <a href="@Url.Action("UpdatePerson", "Person", new { id = person.Id })" class="btn btn-sm btn-primary">Edit</a>
                                <a href="@Url.Action("Delete", "Person", new { id = person.Id })" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>