@model PersonModel

<div class="container">
    <h2>Edit Person</h2>
    <form asp-action="Update" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
        </div>
        <div class="form-group">
            <label for="Cpf">CPF</label>
            <input type="text" class="form-control" id="Cpf" name="Cpf" value="@Model.Cpf" required />
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required />
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="@Url.Action("Index", "Person")" class="btn btn-secondary">Cancel</a>
    </form>

    <hr />

    <h3>Addresses</h3>

    <!-- Botão para abrir o modal -->
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addAddressModal">
        + Endereço
    </button>
    @if (Model.Addresses != null && Model.Addresses.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Street Address</th>
                    <th>Zip Code</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Model.Addresses)
                {
                    <tr>
                        <td>@address.StreetAddress</td>
                        <td>@address.Zipcode</td>
                        <td>@address.City</td>
                        <td>@address.State</td>
                        <td>
                            <a asp-action="EditAddress" asp-route-id="@address.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="DeleteAddress" asp-route-id="@address.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
    }
    else
    {
        <p>No addresses found for this person.</p>
    }
</div>

@await Html.PartialAsync("~/Views/Address/AddAddressModal.cshtml", Model)
